.navi {
    display: flex;
    width: 100%;
    height: 56px;
    justify-content: space-between;
    align-items: center;
    padding: 0 32px;
  
    .btn {
      border-radius: 5px;
      transition: all 0.5s;
    }
  
    .btn:hover {
      background-color: #019160;
    }
  
    &-left {
      display: flex;
      margin-right: 20px;
      .btn-first-page {
        background-image: url('../../../assets/icon/btn-firstpage.svg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 20px;
        height: 20px;
        margin-right: 25px;
        cursor: pointer;
      }
  
      .btn-prev-page {
        background-image: url('../../../assets/icon/btn-prev-page.svg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 20px;
        height: 20px;
        cursor: pointer;
      }
    }
  
    &-list-page {
      ul {
        display: flex;
  
        li {
          width: 25px;
          height: 25px;
          line-height: 25px;
          font-size: 13px;
          border-radius: 50%;
          background-color: #E9EBEE;
          text-align: center;
          cursor: pointer;
          transition: all 0.5s;
        }
  
        li:hover {
          background-color: #019160;
          color: #fff;
        }
  
        li:not(:last-child) {
          margin-right: 10px;
        }
      }
    }
  
    &-right {
      display: flex;
        margin-left: 20px;
      .btn-last-page {
        background-image: url('../../../assets/icon/btn-lastpage.svg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 20px;
        height: 20px;
        margin-left: 25px;
        cursor: pointer;
      }
  
      .btn-next-page {
        background-image: url('../../../assets/icon/btn-next-page.svg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 20px;
        height: 20px;
        cursor: pointer;
      }
    }
  
    .total-item {
      font-size: 11px;
  
      p {
        margin-bottom: 0;
        span {
          text-transform: capitalize;
        }
      }

      .number-item {
        font-family: $font-family-title2;
      }
    }
  
    .navi-list {
      display: flex;
      align-items: center;
    }
  }

  // nav list
  button.page-link {
    display: inline-block;
  }
  button.page-link {
      font-size: 20px;
      color: #29b3ed;
      font-weight: 500;
  }
  .offset{
    width: 500px !important;
    margin: 20px auto;  
  }

  .q-pa-lg {
    padding: 0;
  }