.search-input {
    display: flex;
    align-items: center;
    position: relative;
  
    .icon-search {
      background-image: url('../../../assets/icon/search.png');  
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      width: 16px;
      height: 16px;
      position: absolute;
      top: 50%;
      left: 16px;
      transform: translateY(-50%);
    }
  
    .input-detail {
      color: $color-black;
      border: 1px solid $color-gray;
      outline: none;
      border-radius: 4px;
      height: 40px;
      width: 213px;
      padding: 0 25px 0 40px;
      transition: all 0.5s;
      font-size: $font-size-label-field-input;
  
      &:focus {
        border-color: $color-green-default;
      }
      &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        font-size: 10px;
        color: $color-gray;
      }
      &::-moz-placeholder { /* Firefox 19+ */
        font-size: 12px;
        color: $color-gray;
      }
      &:-ms-input-placeholder { /* IE 10+ */
        font-size: 12px;
        color: $color-gray;
      }
      &:-moz-placeholder { /* Firefox 18- */
        font-size: 12px;
        color: $color-gray;
      }
    }
  
    .icon-remove-text {
      background-image: url('../../../assets/icon/x.svg');
      background-repeat: no-repeat;
      background-size: contain;                      
      background-position: center;
      width: 16px;
      height: 16px;
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
      background-color: $color-extra-light-gray;
      border-radius: 50%;
      cursor: pointer;
      transition: all 0.5s;
  
      &:hover {
        background-color: $color-gray;
      }
    }
  
    .error {
      border-color: $color-error !important;
    }
  }