// color variables
$color-green-primary: #01B075;
$color-green-hover: #2FBE8E;
$color-green-default: #019160;
$color-focus: #EBF9F4;
$color-red: #F65454;
$color-light-pink: #FFEBEB;
$color-blue: #0075FF;
$color-light-blue: #EBF4FF;
$color-orange: #FF6900;
$color-light-orange: #FFF3EB;
$color-black: #000000;
$color-white: #fff;
$color-dark: #454545;
$color-gray: #BBBBBB;
$color-light-gray: #E5E5E5;
$color-extra-light-gray: #E9EBEE;
$color-error: #FF4747;
$color-pink: #fe718d;
$color-warning-add: #f39c12;

$color-heading: #000000;
$color-title: #000000;
$color-title2: #000000;
$color-label-field-input: #000000;
$color-label: #454545;
$color-content-details: #000000;
$color-body-content: #454545;
$color-sub-text: #BBBBBB;

// font-size variable
$font-size-heading: 24px;
$font-size-title: 20px;
$font-size-title2: 15px;
$font-size-label-field-input: 13px;
$font-size-label: 13px;
$font-size-content-details: 13px;
$font-size-body-content: 13px;
$font-size-sub-text: 11px;

//font-family variable
$font-family-heading: "Google Sans Bold", sans-serif;
$font-family-title: "Google Sans Bold", sans-serif;
$font-family-title2: "Google Sans Bold", sans-serif;
$font-family-label-field-input: "Google Sans Medium", sans-serif;
$font-family-label: "Google Sans Regular", sans-serif;
$font-family-content-details: "Google Sans Medium", sans-serif;
$font-family-body-content: "Google Sans Regular", sans-serif;
$font-family-sub-text: "Google Sans Regular", sans-serif;